* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  margin: 10px 0;
  width: 100%;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

.info-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.menu-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.select-quantity-wrap, .calender-contents .week-container, .calender-head ul, .nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.reserv-school .sort-school, .reserv-school, .choice-calender, .calender-month, .login_box .login_kakao a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.main-contents, .calender-contents li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.login {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bg {
  position: relative;
  background-image: url(../img/login/bg-pizza.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.login-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  padding: 15px;
  border: solid 2px rgb(133, 131, 131);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
}

.login_box {
  position: relative;
  overflow: hidden;
  height: 45%;
  border-bottom: solid 2px rgb(133, 131, 131);
}
.login_box .login-title {
  text-align: center;
  margin-top: 20px;
}
.login_box .login_kakao {
  position: absolute;
  display: flex;
  border-radius: 3px;
  background: #f2da00;
  padding: 3% 2%;
  width: 80%;
  height: 25px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  color: #391b1a;
}
.login_box .login_kakao img {
  width: 10%;
  margin-right: 2%;
}

.customer-center {
  width: 100%;
  height: 33%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.customer-center h4 {
  margin-bottom: 15px;
}

.customer-center p {
  margin: 4px 0;
}

.login_copy {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 3%;
  font-size: 80%;
}

@media (min-width: 768px) {
  .bg {
    position: relative;
    background-image: url(../img/login/bg-pizza2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
  }
}
.nav-bar {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 80px;
  padding: 5px 30px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  z-index: 10;
}

.main-logo img {
  width: 70px;
}

.menu-wrap .btn-userinfo {
  margin-right: 10px;
}
.menu-wrap .btn-userinfo .userhead {
  font-weight: bold;
}
.menu-wrap .btn-logout {
  font-size: 16px;
  font-weight: bold;
  width: 80px;
  border: solid 2px #000;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  box-sizing: border-box;
}
.menu-wrap .btn-logout:hover {
  background-color: #000;
  color: #fff;
}

@media (min-width: 768px) {
  .nav-bar {
    display: inline-block;
  }

  .main-logo {
    text-align: center;
  }

  .menu-wrap {
    float: right;
    position: absolute;
    top: 20px;
    right: 25px;
  }
}
.reserv-page {
  display: none;
  position: fixed;
  top: 80px;
  width: 500px;
  height: 100%;
  z-index: 5;
  background-color: #fff;
  box-sizing: border-box;
}
.reserv-page .close-btn {
  position: absolute;
  right: 45px;
  top: 28px;
  width: 25px;
  height: 40px;
  border: solid 2px #000;
  font-size: 32px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.reserv-page-title {
  margin: 30px 0;
  text-align: center;
}

.reserv-top {
  padding: 0 10px;
  box-sizing: border-box;
}

.calender-month {
  margin-bottom: 10px;
}
.calender-month button {
  width: 40px;
  height: 30px;
  font-size: 15px;
  margin-right: 25px;
  border: solid 1px #000;
  cursor: pointer;
}

.choice-calender {
  font-size: 28px;
}
.choice-calender .choice {
  margin: 0 25px;
}
.choice-calender .month-next,
.choice-calender .month-prev {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.choice-calender .month-prev {
  border-left: solid 2px #000;
  border-bottom: solid 2px #000;
  transform: rotate(45deg);
}
.choice-calender .month-next {
  border-right: solid 2px #000;
  border-top: solid 2px #000;
  transform: rotate(45deg);
}

.blank {
  width: 40px;
  height: 30px;
  margin-left: 25px;
}

.reserv-school {
  margin: 20px 0;
}
.reserv-school .reserv-school-title {
  font-weight: bold;
}
.reserv-school p {
  margin-right: 10px;
}
.calender-head {
  width: 100%;
  border-top: solid 2px #ddd;
  border-bottom: solid 2px #eee;
  box-sizing: border-box;
}
.calender-head ul {
  box-sizing: border-box;
  border-right: solid 2px #ddd;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.calender-head li {
  display: inline-block;
  width: 100%;
  height: 50px;
  padding-top: 14px;
  border-left: solid 2px #ddd;
  box-sizing: border-box;
}

.calender-contents {
  width: 100%;
}
.calender-contents .week-container {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
}
.calender-contents li {
  position: relative;
  width: 20%;
  height: 100%;
  padding: 5px;
  border: solid 1px #ddd;
  box-sizing: border-box;
  overflow: hidden;
}
.calender-contents li .date-wrap {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0;
  font-size: 18px;
  box-sizing: border-box;
}
.calender-contents li .date-wrap .date {
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
}
.calender-contents li .book-box {
  height: 80px;
  margin-top: 5px;
}
.calender-contents li .book-box img {
  width: 50px;
}
.calender-contents li .book-box p {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.calender-contents li .rest-book a:hover {
  text-decoration: underline;
}
.calender-contents li .full-book .soldout-alert {
  display: flex;
  height: 50px;
  font-size: 16px;
  color: red;
  align-items: center;
}
.calender-contents li .full-book p {
  color: rgb(92, 91, 91);
}

.reserv-click-btn {
  width: 100%;
  height: 80px;
  background-color: #000;
}

@media (min-width: 621px) {
  .reserv-page {
    width: 620px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.main-contents {
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 80px;
}

.main-box {
  width: 300px;
  height: 300px;
  margin: 20px 0;
  padding: 20px;
  border: solid 1px #000;
  border-radius: 3px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
.main-box h2 {
  text-align: center;
}
.main-box img {
  width: 130px;
  height: 130px;
  margin-top: 42px;
}

main {
  padding-top: 80px;
}

.food-img-wrap {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.food-img-wrap img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-dots {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 20px;
  position: absolute;
  margin: 0 auto;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots li {
  margin: 0 10px;
}

.slick-dots li::marker {
  color: transparent;
}

.slick-dots li button {
  color: transparent;
  border: none;
  padding: 0;
  background-color: grey;
  opacity: 0.5;
  border-radius: 50%;
  height: 13px;
  width: 13px;
}

.slick-dots .slick-active button {
  background-color: #ffffff;
  opacity: 1;
}

.order-detail-wrap {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.order-detail-wrap h2 {
  padding-bottom: 10px;
  border-bottom: solid 2px #ddd;
}

.menu-info {
  margin-top: 12px;
}

.info-wrap p {
  color: #5c5b5b;
  padding-right: 15px;
  padding-bottom: 10px;
}
.info-wrap span {
  padding-bottom: 10px;
}

.order-btn-wrap {
  text-align: center;
  margin: 20px auto;
}
.order-btn-wrap button {
  width: 200px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: solid 2px #ddd;
  border-radius: 3px;
  cursor: pointer;
}
.order-btn-wrap button:hover {
  background-color: #ddd;
}

.select-quantity-page {
  width: 500px;
  margin: 0 auto;
}

.select-quantity-wrap {
  padding: 20px;
}
.select-quantity-wrap img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-quantity {
  padding-right: 10px;
}
.info-quantity .qunatity-input-wrap {
  width: 100px;
  margin-top: 20px;
  padding: 3px;
  border: solid 2px #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.info-quantity .qunatity-input-wrap input {
  width: 50px;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  height: 160px;
  padding-top: 10px;
  padding-bottom: 70px;
  text-align: center;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #212529;
  color: #fff;
}

.footer-contents {
  text-align: center;
}

@media (min-width: 992px) {
  .footer-fixed {
    position: fixed;
    bottom: 0px;
  }
}